#footer {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    @include clearfix;
        
        li {
            display: inline-block;
            float: none;
            padding: 30px 20px 5px;
        }   
        a {
            text-decoration: none;
            color: $primary-color;
        }
} // footer
