// Variables

$skyrocket-red: #FF0000;
$primary-color: #000;
$skyrocket-blue: #3724c6;
$skyrocket-green: #52bd96;

$font-stack: Helvetica Neue, Helvetica, Arial, sans-serif;
$font-stack-serif: Georgia, serif;